In [1]:
import pandas as pd
import numpy as np

In [27]:
logs = pd.read_csv('transactions.csv')

In [32]:
logs = pd.DataFrame(logs['num'].value_counts())
logs = pd.DataFrame(logs[logs['num']>3].index)
logs.columns = ['ConsecutiveNums']
logs

    ConsecutiveNums
0                47
1                55
2                76
3                19
4                41
5                45
6                 5
7                85
8                74
9                71
10                3
11               69
12               28
13               44
14               80
15               22
16               75
17              100
18               91
19               64
20               29
21                6
22               86
23               82
24               61
25               99
26               94
27               59
28               60
29               62
30               43
31                2
32                8
33               72
34               97
35               98
36                9
37               88
38               21
39               14
40               84
41               93
42               13
43               10